<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="text-center mt-5">
        <h1>Node Api Call</h1>
        

    <button type="button" class="btn btn-primary mt-2" onclick="signin_page()">User Sig In Api</button>
    <br>
    <br>
    <button type="button" class="btn btn-warning" onclick="signup_page()">User Sig Up Api</button>
    <br>
    <br>
    <button type="button" class="btn btn-info" onclick="todo_page()">Todo App Api</button>

</div>
  

    

    

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>

</body>
</html>